* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  color: #0a3871;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.home {
  background-color: #f3f5fc;
}

.icon-alura {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.icon-alura a img {
  height: 90%;
}

.container-home {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding-bottom: 30px;
  gap: 30px;
}

.container-input {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text-area-input {
  width: 100%;
  height: 400px;
  font-size: 32px;
  color: #0a3871;
  background-color: transparent;
  border: none;
  resize: none;
}

.content-up-button {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 60px 0 20px 0;
}

.content-up-button img {
  width: 16px;
}
.content-up-button p {
  font-size: 12px;
  font-weight: 400;
  color: #495057;
  opacity: 80%;
}

.botoes-crypt-decrypt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button-crypt {
  background-color: #0a3871;
  color: white;
}

.container-decrypt {
  background-color: white;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
  width: 400px;
}

.content-decrypt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.img-banner {
  width: 100%;
}

.container-text-decrypt {
  height: 70%;
  width: 80%;
  display: none;
}

.text-decrypt {
  padding: 20px;
  font-size: 28px;
  background-color: transparent;
  width: 100%;
  height: 90%;
  border: none;
  resize: none;
}

.text-banner h2 {
  font-weight: 700;
  font-size: 24px;
}

.text-banner p {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.button-copiar {
  display: none;
  width: 100%;
}

@media (max-width: 1351px) {
  #text-area-input {
    padding: 20px;
  }

  .botoes,
  .botoes-crypt-decrypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-up-button {
    align-items: center;
    justify-content: center;
  }
}

.rodape {
  height: 100px;
  background-color: #0a3871;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1100px) {
  #text-area-input {
    margin-top: 40px;
    padding-left: 20px;
  }

  .img-banner {
    display: none;
  }

  .botoes {
    margin-bottom: 30px;
  }

  .text-banner {
    font-size: 22px !important;
  }
  .container-input {
    width: 50%;
  }
  .container-home {
    flex-direction: column;
  }
  .container-decrypt {
    height: 300px;
  }

  .container-text-decrypt {
    height: 50%;
  }
}

@media (max-width: 768px) {
  button {
    width: 250px;
  }

  #text-area-input {
    height: 300px;
  }

  .container-input {
    width: 60%;
  }

  .content-decrypt {
    text-align: center;
    width: 80%;
  }
  .container-banner {
    display: none;
  }

  .container-decrypt {
    width: 80%;
    max-width: 400px;
  }

  #text-area-input,
  .text-decrypt {
    font-size: 22px;
  }

  .content-decrypt {
    padding: 20px 0 20px 0;
    margin: 0;
  }

  .content-decrypt h2 {
    font-size: 22px;
  }

  .container-decrypt p {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .container-input {
    width: 80%;
  }
}
